.container-licores{
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.titulo-licores{
    margin: 50px;
    font-size: 1.5rem;
    text-align: center;
}